<div>
    <button type="button" (click)="prevMonth()">Previous Month</button>
    <button type="button" (click)="nextMonth()">Next Month</button>
</div>

<div class="container-fluid">
    <h2>{{monthlyBudget.Date | date:'MMMM':'utc'}} Budget</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col">Name</div>
            <div class="col">Account</div>
            <div class="col">Planned</div>
            <div class="col">Budgeted</div>
            <div class="col">Remainder</div>
            <div class="col"></div>
        </div>
    </div>
    <div *ngFor="let group of categoryGroups">
        <app-category-view [categoryGroup]="group"></app-category-view>
    </div>
</div>