<div class="m-1">
    <div class="container-fluid">
        <div *ngIf="!isEditing" class="row" (click)="edit();">
            <div class="col">{{lineItem.LineItem.Name}}</div>
            <div class="col">{{lineItem.Account.Name}}</div>
            <div class="col">{{lineItem.Planned | currency}}</div>
            <div class="col">{{lineItem.Actual | currency}}</div>
            <div class="col">
                <span *ngIf="isExpense">{{remaining | currency}}</span>
            </div>
            <div class="col">
                <button *ngIf="isExpense" class="btn btn-sm"
                    [ngClass]="lineItem.Allocated ? 'btn-danger' : 'btn-success'"
                    (click)="toggleAllocated();$event.stopPropagation();">
                    {{lineItem.Allocated ? 'Deallocate' : 'Allocate'}} Funds
                </button>
            </div>
        </div>
        <div *ngIf="isEditing && lineItemClone" class="row">
            <div class="col"><input type="text" [(ngModel)]="lineItemClone!.LineItem.Name" /></div>
            <div class="col">{{lineItem.Account.Name}}</div>
            <div class="col"><input type="number" [(ngModel)]="lineItemClone!.Planned" scale="2" /></div>
            <div class="col"><input type="number" [(ngModel)]="lineItemClone!.Actual" scale="2" /></div>
            <div class="col"></div>
            <div class="col">
                <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-sm btn-success" (click)="save()">Done</button>
            </div>
        </div>
    </div>
</div>